@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-left: 4%;
   
}
.mainLogoText{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #FFF;
    text-align: center;
    animation: nameAnimation 5s;
    -webkit-animation: nameAnimation 5s;
    -moz-animation: nameAnimation 5s;
    -o-animation: nameAnimation 5s;
    -ms-animation: nameAnimation 5s;
    animation-iteration-count: infinite;
    margin-left: -50px;
}
.mainIcon{
    width: 200px;
    height: 75px;
}
.navbar{
display: flex;
justify-content:space-between;
align-items: center;
padding-left: 2%;
padding-right: 5%;
}

.subNav1{
  list-style: none;
  display: flex;

}
.navLinks{
    margin-left: 1.2%;
    margin-right: 1.2%;
}

.navTitle{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: #FFF;
}
.mainText{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-items: flex-start;
    text-align: start;
    gap: 15px;
    
  
}

.mainTitle{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: #FFF;
    animation: nameAnimation 5s;
    -webkit-animation: nameAnimation 5s;
    -moz-animation: nameAnimation 5s;
    -o-animation: nameAnimation 5s;
    -ms-animation: nameAnimation 5s;
    animation-iteration-count: infinite;
    
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #FFF;
}
  #feature-text {
    margin-left: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #FFF;
  }
  .input-cursor {
    display: inline-block;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
  }
.subTitle{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #FFF;
    text-align: start;
   
}
.subTitleIcons{
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-right: 2%;
}
.titles{
    text-align:center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
}
.cardTitles{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    color: #FFF;
    text-align: start;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.cardTitles1{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    text-align: start;
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.cardTitles2{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
    text-align: start;
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.cardDescriptions{
    margin-top: -5px;
    margin-left: -20px;
}
.cardTitles3{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
    text-align: start;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.cardTitles4{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
    text-align: start;
    font-weight: 600;
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.projectCardTitle{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-align: start;
    margin-top: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;

}
.projectCardTitles2{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
    text-align: start;
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.icons{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.cardIconLine{
    display: flex;
    align-items: center;
    gap: 2px;
}
.aboutMe{
    padding: 5%;
}
.aboutMePara{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
}
.eduCards{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: transparent solid 2px;
    width:80%;
    box-shadow: 0 3px 10px rgb(226, 221, 221);
}
.eduSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}
.projSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    gap: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.projectLinks{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #163c7b;
    text-align: start;
    font-weight: 300;
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.pubSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.talkSection{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    gap: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.aboutMe{
    transition: all 0.5s ease-out;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 2%;
  }
  
  .btn:hover {
    background-color: RoyalBlue;
  }
  .navLinks:hover{
    background-color: rgb(68, 75, 75);
  }
.cardImage{
    height: 300px;
    width: 300px;
}
  
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
  }
  
.reveal.active{
    opacity: 1;
    animation: fade-left 0.75s ease-in;
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0) translateY(200px);
      opacity: 1;
    }
  }
@keyframes nameAnimation {
    0% { opacity: 0.25; }
    50%{opacity: 0.75;}
    100% { opacity: 1; }
  }
  @keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

  @-moz-keyframes nameAnimation {
    0% { opacity: 0.25; }
    50%{opacity: 0.75;}
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes nameAnimation {
    0% { opacity: 0.25; }
    50%{opacity: 0.75;}
    100% { opacity: 1; }
  }
  
  @-o-keyframes nameAnimation {
    0% { opacity: 0.25; }
    50%{opacity: 0.75;}
    100% { opacity: 1; }
  }
  
  @-ms-keyframes nameAnimation {
    0% { opacity: 0.25; }
    50%{opacity: 0.75;}
    100% { opacity: 1; }
  }

  @media screen and (max-width: 700px) {
.mainTitle{
    padding-left: 30px;
    
}
.navTitle{
    font-size: 14px;
}
.subNav1{
    margin-left: 0px;
    padding-left: 0px;
}
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0px;
        padding-right: 0px;
       
        }
    .projSection{
        flex-direction: column;
        align-items: center;
    }
    .talkSection{
        flex-direction: column;
        align-items: center;
    }
    .mainTitle{
        margin-left: 10%;
    }
  }

@media screen and (max-width: 400px){
    .logo{
       align-items: flex-end;
       margin-left: 17%;
    }
    .cardImage{
        height: 200px;
        width: 200px;
    }
    .cardTitles3{
        margin-top: 10px;
    }
    .mainImage{
        height: 200px;
        width: 200px;
    }
    .eduCards{
        margin-top: 5%;
    }
}